<% include partials/header %>
<div class="d-flex align-items-center">
	

	<div class="container">
		<div class="row align-items-center tab">
			<div class="col-12 col-md-6 align-self-center">
				<a href="/mygames" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">My Games</a>
			</div>
			<div class="col-12 col-md-6 align-self-center tab">
				<a href="/mygames/new" class="btn btn-success btn-lg active btn-block" role="button" aria-pressed="true">Add new Game</a>
			</div>
		</div>
			<div class="row align-items-center tab">
				<div class="col-12 col-md-6 align-self-center">
				<a href="/notations" class="btn btn-success btn-lg active btn-block" role="button" aria-pressed="true">Learn Notations</a>
			</div>
			<div class="col-12 col-md-6 align-self-center tab">
				<a href="/rules" class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Learn Chess</a>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>