<% include partials/header %>
<div class="container" style="color:#000000">
<!-- sumit --> 
<h2>How Does Chess Notation Work ?</h2>
<ul>
	<li>Chess notation combines the chess piece moved with the new square it has moved to, on the chess board.</li>
	<li>Chess notation uses abbreviations for each piece, using capitalized letters.</li>
	<li>King = K, Queen = Q, Bishop = B, Knight = N, Rook = R, Pawn = no notation.</li>
	<li>Capturing an enemy piece sees an “x” placed between the piece moved and the square the captured piece was upon.</li>
	<li>When the opponent’s king is threatened by check, a “+” sign is added to the end of the notation.</li>
	<li>Castling kingside is written as “0-0”. Castling queenside is notated with “0-0-0”.</li>
</ul>

<p>Knowing chess notation will allow you to study the famous games of years gone by. It will also allow you to follow along in instructional lessons such as those offered by ichess.net.</p>
<p>You can’t learn from a teacher unless you speak their language, and chess notation has become the lingua franca of the Royal Game.</p>
	
<h2>Why Use Chess Notation at all ?</h2>

	<p>Competitive chess games, even at a low level, require players to write down their moves using chess notation. However, you may ask yourself why you need this chess notation at all. When you play other board games, you don’t notate your moves!</p><p>There are several reasons in chess, however, that makes it obvious as to why it is so useful. The most apparent reason is that you are not allowed to participate in chess tournaments if you do not know how to notate correctly.</p><p>Why is that? If there is a problem in a game or a dispute, the arbiter, who is there to help you in these cases, must be aware of the progression of the game. It makes it easier for any arbiter to look at a scoresheet, which is a clear evidence than to rely on the memory of the players.</p><p>Chess Notation: Step-by-step Guide For BeginnersAnother reason to use chess notation is that you can use your records to <strong>review the critical moments of your games and analyze where you could have done better</strong>.</p><p>If you are serious about improving, you should do this every time you play. Just like football players talk about and reflect on their previous matches, a chess player has to analyze their games constantly to advance their skills.</p><p>All games of chess contain a lesson, but you can only extract this if you have the game documented. The shortest pen is longer than the longest memory.</p><p>For players who frequently participate in tournaments, it even makes sense to use their notations to <strong>save their games in chess databases <emp>{TRY <a href="/">gaMeMo</a> :)}</emp></strong>. If you have saved your games in a database, e.g. in the famous ChessBase, you even have the option to analyze your games with the assistance of a chess engine.</p><p>Further, not understanding chess notation is the mark of a real beginner. It is the equivalent of asking whether three-of-a-kind beats two pairs while sitting at a poker table at the casino (incidentally, it does).</p><p>Such ignorance of the basics instantly betrays a lack of knowledge to everybody else. This isn’t the vibe you want to be giving off before going into battle.</p><p>Chess itself takes a lifetime to master, but chess notation only needs a few minutes. This article will explain everything to do with the algebraic notation – the most common form of modern chess notation.</p>
	
<h3>The Chess Board</h3>
<p>Chess Notation: Step-by-step Guide For BeginnersLet’s have a look on the concrete rules of chess notation. Firstly, you have to know how the chess board is constructed.</p><p>The squares are allocated names using a coordinate system. Every square gets a unique letter and number, in a grid formation.</p><p>From left-to-right from White’s perspective, the squares are ordered alphabetically with letters from “a” through to “h”.</p><p>From Black’s point of view, the squares are in reverse alphabetical order – Black’s left-most squares are “h” squares, and Black’s right-most squares are “a” squares.</p><p>Each square also gets a unique number, from “1” to “8”. The rank closest to the White player in the initial setup are “1” squares, the next rank the “2” squares and so on… to the rank closest to Black, which are “8” squares.</p>
	<div class="text-center">
		<img src="https://cdn1.ichess.net/wp-content/uploads/2017/09/squares.webp"class="img-thumbnail ">
	</div>
<p>With this grid information, we have everything we need to give all 64 squares a unique identifier using one letter and one number to combine its up-down orientation with its left-right orientation.</p>
	
<h3>The Chess Pieces</h3>	
<ul>
	<li>King    = K</li>
	<li>Queen   = Q</li>
	<li>Bishop  = B</li>
	<li>Knight  = N</li>
	<li>Rook    = R</li>
	<li>Pawn    = no notation</li>
</ul>
	
<h3>Putting It All Together</h3>
<p>Chess notation combines the chess piece moved with the new square it has moved to on the chess board. A bishop moving to the c4 square is written as “Bc4”. A pawn moving to the e3 square is written as “e3” (remember, pawns have no capital letter). A queen moving to the a7 square is “Qa7”. You get the idea.</p><p>Moves are usually written in pairs, showing both the White and the Black move – for instance, 1. e4 Nf6 shows that White used its first move to push a pawn to e4, and Black responded by developing a knight to f6.</p>
	
<h3>Captures</h3>
<p>Capturing an enemy piece sees an “x” placed between the piece moved and the square the captured piece was upon. So, if a king captured a chess piece on e1, the notation would show “Kxe1”.</p><p>The pawn captures require us to show which file the capturing pawn came from – so a pawn which was on h3, capturing on g4 would be “hxg4”.</p>

<h3>Check And Checkmate</h3>
<p>When the opponent’s king is threatened by check, a “+” sign is added to the end of the notation. A bishop capturing on f7 with check would be written as Bxf7+. Checkmate is denoted with either “++” or “#” (either is acceptable), followed by the result of the game (1-0 if White has won, 0-1 if Black has emerged triumphant, or 1/2 – 1/2 if it’s a draw).</p>

<h3>Castling</h3>
<p>The notation for castling depends on which side of the board the king castled towards. Castling kingside (with the rook that begins on the “h” file), is written as “0-0”. Castling queenside (with the rook that begins on the “a” file) is notated with “0-0-0”.</p>
	
<h3>Pawn Promotion</h3>	
<p>If a pawn makes it all the way to the end of the board to promote to a new piece, add a “=” symbol, followed by the abbreviated capital letter of what it transformed into. For instance, promoting a pawn on the b8 square to a queen would be written as “b8=Q”.</p>
	
<h3>Removing Ambiguity</h3>	
<p>Occasionally, the situation arises where more than one of the same kind of piece could move to the target square. For example, if you have rooks on both a8 and c8, then either of them could move to b8.</p><p>Therefore, you need to note which piece was actually moved, so readers looking back in the future are not confused. This is done by adding a starting identifier in between the piece and the square. In this example, if the rook beginning on a8 were moved to b8, it would be written as “Rab8”.</p>	

<h3>Interpretations</h3>	
	<p>Chess analysts may add exclamation marks and question marks to their reviews. It isn’t necessary to do this during the game – indeed, you shouldn’t, because whether a move is brilliant or not is often only revealed in hindsight!</p>
<ul>
	<li>!! – brilliant move</li>
	<li>!  – good move</li>
	<li>?  – bad move</li>
	<li>?? – terrible move</li>
	<li>!? – unusual move</li>
	<li>?! – dubious move</li>
</ul>
<hr>
</div> <!-- container closes here-->

<% include partials/footer %>
